/* .overlay {
  position: fixed;
  inset: 0;
  top: calc(var(--nav-size));
  background-color: rgba(0, 0, 0, 0.49);
}
.drawer {
  background-color: var(--drawer-clr);
  color: var(--color);
  border-radius: 0 var(--nav-br) var(--nav-br) 0;
  height: 100%;
  overflow: scroll;
  padding: 0.5em;
  box-shadow: var(--box-shadow-md);
  position: relative;

  --drawer-width: 100%;
  overflow: hidden;
}

@media (--screen-lg-min) {
  .overlay {
    top: 0;
    left: calc(var(--nav-size) - var(--nav-br));
  }
  .drawer {
    padding-left: calc(var(--nav-br) + 0.5em);
    width: 720px;
    --drawer-width: calc(720px - var(--nav-br));
  }
} */

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4983614981174469);
  z-index: 0;
}
.content {
  background-color: var(--drawer-clr);
  box-shadow: var(--box-shadow-md);
  border-radius: 0 var(--nav-br) var(--nav-br) 0;
  height: 100%;
  width: 100%;

  position: fixed;
  inset: 0;

  height: calc(100% - var(--nav-size));
  top: var(--nav-size);
}

@media (--screen-md-min) {
  .content {
    max-width: 620px;
  }
}

@media (--screen-lg-min) {
  .content {
    top: 0;
    width: 50%;
    min-width: 720px;
    height: 100%;
    padding-left: calc(var(--nav-size));
  }
}
