.container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  --buttons-height: 90px;
}

.backlink {
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  gap: 0.75em;
  align-items: baseline;
  width: fit-content;
}

.buttons {
  display: flex;
  gap: 0.5em;
}

@media (--screen-sm-max) {
  .container {
    margin-bottom: var(--buttons-height);
  }
}
