.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-grow: 1; */
}
.text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.buttons {
  display: flex;
  gap: 0.5em;
}
