.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4983614981174469);
  z-index: 1;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.content {
  background-color: var(--card-clr);
  box-shadow: var(--box-shadow-sm);
  padding: 2.5em 2em 1.75em;
  border-radius: 8px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 1.5em;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
