.container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  position: relative;
}

.input {
  display: flex;
  background-color: var(--input-clr);
  border: 1px solid var(--lines-clr);
  padding: 0.75em 1em;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
}

.hasError .label {
  color: var(--danger-400);
}

.hasError .input {
  border-color: var(--danger-400);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.hint {
  position: absolute;
  right: 0;
  color: var(--danger-400);
  font-weight: 600;
  transform: translateY(25%);
}
