.link {
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  border: 1.1px solid transparent;
  transition: border 0.2s ease-in-out;
  display: block;
}
.link:hover,
.link:active {
  border-color: var(--primary-300);
}
.link:focus-visible {
  border-color: none;
}

.id {
  display: flex;
  grid-area: 1/1/2/2;
}
.date {
  display: flex;
  gap: 0.25em;
  grid-area: 3/1/4/2;
}
.name {
  grid-area: 1/2/2/3;
  justify-self: end;
}
.money {
  font-size: 1.125rem;
  grid-area: 4/1/5/2;
}
.status {
  grid-area: 3/2/5/3;
  justify-self: end;
  align-self: center;
}
.arrow {
  display: none;
}

.invoice {
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1em auto 1fr;
  row-gap: 0.25em;
}

@media (--screen-md-min) {
  .id {
    grid-area: 1/1/1/2;
  }
  .date {
    grid-area: 1/2/1/3;
  }
  .name {
    grid-area: 1/3/1/4;
    justify-self: start;
  }
  .money {
    grid-area: 1/4/1/5;
    justify-self: end;
  }
  .status {
    grid-area: 1/5/1/6;
    margin: auto 1.5em auto 2em;
  }
  .arrow {
    display: block;
    grid-column: 6/7;
  }

  .invoice {
    display: grid;
    grid-template-columns: 6rem 8rem 1fr auto auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    /* gap: 1em; */
  }
}
@media (--screen-lg-min) {
  .invoice {
    grid-template-columns: 7rem 9rem 1fr auto auto auto;
  }
}
